#title {
    text-align: center;
    background-color: #1b1b32;
}

.cores {
    background-color: #0a0a23;
    color: white;
}

body {
    background-color: #1b1b32;
    color: white;
}

.botao {
    border: 1px solid white;
    padding: 5px;
    text-align: center;
    border-radius: 5pt;
    font-style: bold;
    font-size: 11pt;
}

.botao:hover {
    background-color: #44447d;
}

.botao:disabled {
    background-color: #29293b;
}



.opcoes {
    position: absolute;
    margin-top: 40px; 
    width: 60pt; 
    height: 26pt;
    margin-right: 20px;
    bottom: 10px
}
.botao_grande {
    display: inline-block;
    cursor: pointer;
    width: 40%;
    height: 30pt;
    vertical-align: center;
    font-size: 18pt;
    padding: 10px;
}

.text {
    font-size: 14pt;
    padding: 10pt;
}


input[type="file"] {
    display: none;
}


a {
    text-decoration: none;
    vertical-align: center;
}

.selecionar {
    font-size: 18pt;
    padding: 20pt;
}

#pasta {
    padding: 10px;
    font-size: 12pt;
    font-style: italic;
}

img {
    text-align: center;
    margin: none;
}

#dias {
    width: 40pt;
    border: 1px solid white;
    font-size: 14pt;
    height: 14pt;
}

#carregar_cota, #arquivo_hoje, #carregar {
    display: inline-block;
}

#carregar {
    padding-bottom: 35pt;
    width: 41.8%;
}

input[type="file"]::file-selector-button {
    background-color: #0a0a23;
    color: white;
    border: 1px solid white;
    padding: 5px;
    text-align: center;
    border-radius: 5pt;
    font-style: bold;
    font-size: 11pt;
    margin-right: 20px;
}








/* Hide number input arrows */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}